@import 'config';
@import 'factory';

body {

  margin: 0;
  padding: 0;
  overflow: hidden;

}

@keyframes spin {

  100% { transform: rotate(360deg); }

}

.loader {

  @include square(128px);
  animation: spin 1s linear infinite;
  fill: $color-light;

  &-container {

    background: $color-gradient-green;
    @include square(100%);
    opacity: 1;
    @include fix(11);
    @include flex(null);
    @include _transition(opacity);

  }

}
